{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block head %}
{% endblock %}
{% block titel %}User Profile{% endblock %}
{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-info">
                        <h4>Profile <span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span></h4>
                    </div>
                    <div class="student-profile-head">
                        <div class="profile-bg-img">
                            <img src="{% static 'assets/img/profile-bg.jpg' %}" alt="Profile">
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="profile-user-box">
                                    <div class="profile-user-img">
                                        <img src="{{ApplyedUser.Image.url}}" alt="Profile">
                                    </div>
                                    <div class="names-profiles">
                                        <h4>{{ApplyedUser.FirstName}}</h4>
                                        <h5>{{ApplyedUser.Designation}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 d-flex align-items-center">
                                <div class="follow-group">
                                    <div class="students-follows text-center">
                                        <h5>Total Project</h5>
                                        <h4>50</h4>
                                    </div>
                                    <div class="students-follows text-center">
                                        <h5>Completed Project</h5>
                                        <h4>20</h4>
                                    </div>
                                    <div class="students-follows text-center">
                                        <h5>On-Going Project</h5>
                                        <h4>25</h4>
                                    </div>
                                    <div class="students-follows text-center">
                                        <h5>Hold Project</h5>
                                        <h4>5</h4>
                                    </div>
                                    <div class="students-follows text-center">
                                        <h5>Total leave</h5>
                                        <h4>14</h4>
                                    </div>
                                    <div class="students-follows text-center">
                                        <h5>Leave Already Taken</h5>
                                        <h4>1</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="student-personals-grp">
                        <div class="card">
                            <div class="card-body">
                                <div class="heading-detail">
                                    <h4>Personal Details</h4>
                                </div>
                                <div class="personal-activity">
                                    <div class="personal-icons">
                                        <i class="feather-user"></i>
                                    </div>
                                    <div class="views-personal">
                                        <h4>Name</h4>
                                        <h5>{{ApplyedUser.FirstName}} {{ApplyedUser.LastName}}</h5>
                                    </div>
                                </div>
                                <div class="personal-activity">
                                    <div class="personal-icons">
                                        <i class="feather-briefcase"></i>
                                    </div>
                                    <div class="views-personal">
                                        <h4>Department </h4>
                                        <h5>{{ApplyedUser.Department}}</h5>
                                    </div>
                                </div>
                                <div class="personal-activity">
                                    <div class="personal-icons">
                                        <i class="feather-phone-call"></i>
                                    </div>
                                    <div class="views-personal">
                                        <h4>Mobile</h4>
                                        <h5>{{ApplyedUser.PhoneNumbe}}</h5>
                                    </div>
                                </div>
                                <div class="personal-activity">
                                    <div class="personal-icons">
                                        <i class="feather-mail"></i>
                                    </div>
                                    <div class="views-personal">
                                        <h4>Email</h4>
                                        <h5>
                                            {{ApplyedUser.Email}}
                                        </h5>
                                    </div>
                                </div>
                                <div class="personal-activity">
                                    <div class="personal-icons">
                                        <i class="feather-calendar"></i>
                                    </div>
                                    <div class="views-personal">
                                        <h4>Date of Join</h4>
                                        <h5>{{ApplyedUser.JoiningDate}}</h5>
                                    </div>
                                </div>
                                <div class="personal-activity mb-0">
                                    <div class="personal-icons">
                                        <i class="feather-map-pin"></i>
                                    </div>
                                    <div class="views-personal">
                                        <h4>Address</h4>
                                        <h5>{{ApplyedUser.PresentAddress}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="student-personals-grp">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="heading-detail">
                                    <h4>Leave Application</h4>
                                </div>
                                <div class="mb-3">
                                    <!-- To Section -->
                                    <div class="mb-6">
                                        <p class="text-gray-600">
                                            <b>To,</b><br>
                                            {{user.FirstName}} {{user.LastName}}<br>
                                            {{user.Designation}}<br>
                                            Raya Avertising<br>
                                            {{user.Department}}
                                        </p>
                                    </div>

                                    <!-- From Section -->
                                    <div class="mb-6">
                                        <p class="text-gray-600">
                                            <b>From,</b><br>
                                            {{applications.Name}}<br>
                                            {{ApplyedUser.Designation}}<br>
                                        </p>
                                    </div>

                                    <!-- Date Section -->
                                    <div class="mb-6 text-gray-600">
                                        <b>Date of Application :</b> {{applications.SubmitionDate}}
                                    </div>

                                    <!-- Subject Line -->
                                    <div class="mb-6 font-semibold">
                                        <b>Subject :</b> {{applications.Subject}}<br>
                                        <b>From :</b> {{applications.FromDate}}<br>
                                        <b>To :</b> {{applications.ToDate}}<br>
                                    </div>

                                    <!-- Body Paragraphs -->
                                    <div class="text-gray-800 leading-relaxed space-y-4">
                                        <br>
                                        <p><b>Dear</b> {{user.FirstName}} {{user.LastName}} Sir,</p>

                                        <p>
                                            {{applications.Massage | safe}}
                                        </p>

                                        <p>Sincerely,</p>
                                        <p class="mt-4 font-bold">
                                            {{applications.Name}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}