{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block head %}
{% endblock %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-info">
                        <h4>Profile <span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span></h4>
                    </div>
                    <div class="student-profile-head">
                        <div class="profile-bg-img">
                            <img src="{% static 'assets/img/profile-bg.jpg' %}" alt="Profile">
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="profile-user-box">
                                    <div class="profile-user-img">
                                        <img src="{{userMyInfo.Image.url}}" alt="Profile">
                                    </div>
                                    <div class="names-profiles">
                                        <h4>{{userMyInfo.FirstName}}</h4>
                                        <h5>{{userMyInfo.Designation}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 d-flex align-items-center">
                                <div class="follow-group">
                                    <div class="students-follows text-center">
                                        <h5>Total Project</h5>
                                        <h4>50</h4>
                                    </div>
                                    <div class="students-follows text-center">
                                        <h5>Completed Project</h5>
                                        <h4>20</h4>
                                    </div>
                                    <div class="students-follows text-center">
                                        <h5>On-Going Project</h5>
                                        <h4>25</h4>
                                    </div>
                                    <div class="students-follows text-center">
                                        <h5>Hold Project</h5>
                                        <h4>5</h4>
                                    </div>
                                    <div class="students-follows text-center">
                                        <h5>Total leave</h5>
                                        <h4>14</h4>
                                    </div>
                                    <div class="students-follows text-center">
                                        <h5>Leave Already Taken</h5>
                                        <h4>1</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="student-personals-grp">
                        <div class="card">
                            <div class="card-body">
                                <div class="heading-detail">
                                    <h4>Personal Details</h4>
                                </div>
                                <div class="personal-activity">
                                    <div class="personal-icons">
                                        <i class="feather-user"></i>
                                    </div>
                                    <div class="views-personal">
                                        <h4>Name</h4>
                                        <h5>{{userMyInfo.FirstName}} {{userMyInfo.LastName}}</h5>
                                    </div>
                                </div>
                                <div class="personal-activity">
                                    <div class="personal-icons">
                                       <i class="feather-briefcase"></i>
                                    </div>
                                    <div class="views-personal">
                                        <h4>Department </h4>
                                        <h5>{{userMyInfo.Department}}</h5>
                                    </div>
                                </div>
                                <div class="personal-activity">
                                    <div class="personal-icons">
                                        <i class="feather-phone-call"></i>
                                    </div>
                                    <div class="views-personal">
                                        <h4>Mobile</h4>
                                        <h5>{{userMyInfo.PhoneNumbe}}</h5>
                                    </div>
                                </div>
                                <div class="personal-activity">
                                    <div class="personal-icons">
                                        <i class="feather-mail"></i>
                                    </div>
                                    <div class="views-personal">
                                        <h4>Email</h4>
                                        <h5>
                                            {{userMyInfo.Email}}
                                        </h5>
                                    </div>
                                </div>
                                <div class="personal-activity">
                                    <div class="personal-icons">
                                        <i class="feather-calendar"></i>
                                    </div>
                                    <div class="views-personal">
                                        <h4>Date of Join</h4>
                                        <h5>{{userMyInfo.JoiningDate}}</h5>
                                    </div>
                                </div>
                                <div class="personal-activity mb-0">
                                    <div class="personal-icons">
                                        <i class="feather-map-pin"></i>
                                    </div>
                                    <div class="views-personal">
                                        <h4>Address</h4>
                                        <h5>{{userMyInfo.PresentAddress}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="student-personals-grp">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="heading-detail">
                                    <h4>Projects List</h4>
                                </div>
                                <div class="table-responsive mb-3">
                                    <table
                                        class="table border-0 star-student table-hover table-center mb-0 datatable table-striped mb-3">
                                        <thead class="student-thread">
                                            <tr>
                                                <th>Project Name</th>
                                                <th>Assign Date</th>
                                                <th>Submition Date</th>
                                                <th>Status</th>
                                                <th>Priority</th>
                                                <th class="text-end">View</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Create: Ray Advertising Official Internal CRM</td>
                                                <td>
                                                    07/30/2025
                                                </td>
                                                <td>08/30/2025</td>
                                                <td>Working On</td>
                                                <td>
                                                    <span class="badge badge-label bg-danger"><i
                                                            class="mdi mdi-circle-medium"></i> high</span>
                                                </td>
                                                <td class="text-end">
                                                    <div class="actions">
                                                        <a href="javascript:;" class="btn btn-sm bg-success-light me-2">
                                                            <i class="feather-eye"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}